---
import Page from "../components/Page.astro";
import ImagenCorpo from "../components/ImagenCorpo.astro";
import Boton from "../components/Boton.astro";
import Boton2 from "../components/Boton2.astro";
import Carrusel from "../components/Carrusel.astro";
import TituloCorpo from "../components/TituloCorpo.astro";
import ParagrafoCorpo from "../components/ParagrafoCorpo.astro";
import "../styles/index.css";
import "../styles/paginas.css";
const Titulo = "Inicio";

const imagen = {
  caminho: "/site/learning online 7.jpg",
  alter: "Pessoas estudando TI",
};

const imagen2 = {
  caminho: "/site/learning online 8.jpg",
  alter: "Pessoas ensinando TI",
};
---

<Page pageTitle={Titulo}>
  <div class="row box align-items-center">
    <div class="col-12 col-lg-5">
      <div class="col-12">
        <TituloCorpo>
          Educação digital,
        </TituloCorpo>
        <TituloCorpo>
          para <span style="color: var(--azul-medio)">TODOS</span>
        </TituloCorpo>
        <ParagrafoCorpo>
          Araguaney Escola Digital é uma iniciativa de caráter educativo e social
          que busca proporcionar conhecimento e habilidades em desenvolvimento
          Front End e Back End para indivíduos que enfrentam dificuldades de
          acesso à educação e informações na área de tecnologia.
        </ParagrafoCorpo>  
      </div>
      <div class="col-12 text-center btn-add-2">
        <Boton nombre="SAIBA MAIS" />
      </div>        
    </div>
    <ImagenCorpo caminho={imagen.caminho} alter={imagen.alter} />
    <div class="col-12 text-center btn-add-1">
      <Boton nombre="SAIBA MAIS" />
    </div>
  </div>
  <div class="row box" style="background-color: #eeeeee">
  <div class="col-12">
      <div
      class="fonte-titulo fs-1 text-center"
      style="color: var(--azul-medio)"
      >
        Nossas Trilhas
      </div>
    </div>
    <div class="col-12 ps-lg-5 pe-lg-5 pt-lg-5">
        <Carrusel />
    </div>
    <div class="col-12 text-center">
        <Boton2 style="padding: 2rem" nombre="TODOS NOSSOS CURSOS" />
    </div>
  </div>
  <div class="row box align-items-center">
    <ImagenCorpo caminho={imagen2.caminho} alter={imagen2.alter} />
    <div class="col-12 col-lg-5">
      <div class="col-12">
        <TituloCorpo>
          Faça parte do <span style="color: var(--azul-medio)">PROJETO</span>
        </TituloCorpo>
        <ParagrafoCorpo>
          Convidamos você a fazer parte do nosso projeto. Nosso compromisso é
          com a inclusão e a transformação positiva da vida de pessoas que
          enfrentam dificuldades de acesso à educação e informações na área de
          tecnologia. Como uma organização sem fins lucrativos, acreditamos no
          poder da educação para capacitar e empoderar.
        </ParagrafoCorpo>
      </div>
      <div class="col-12 text-center">
        <Boton nombre="FORMULARIO" />
      </div>
    </div>
  </div>
</Page>
