---
import ImagemSlides from '../components/ImagemSlides.astro'

const slide1 = {
  caminho: "/Covers Trilhas/1.jpg",
  alter: "Trilha FrontEnd",
}

const slide2 = {
  caminho: "/Covers Trilhas/3.jpg",
  alter: "Trilha BackEnd",
}

const slide3 = {
  caminho: "/Covers Trilhas/2.jpg",
  alter: "Trilha Analise de dados",
}

const slide4 = {
  caminho: "/Covers Trilhas/4.jpg",
  alter: "Trilha Introdução na Programação",
}
---

<div id="componeteSlides" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#componenteSlides" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#componenteSlides" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#componenteSlides" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#componenteSlides" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <ImagemSlides
          caminho={slide1.caminho}
          alter={slide1.alter}
        />
      </div>
      <div class="carousel-item">
        <ImagemSlides
          caminho={slide2.caminho}
          alter={slide2.alter}
        />
      </div>
      <div class="carousel-item">
        <ImagemSlides
          caminho={slide3.caminho}
          alter={slide3.alter}
        />
      </div>
      <div class="carousel-item">
        <ImagemSlides
          caminho={slide4.caminho}
          alter={slide4.alter}
        />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#componeteSlides" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#componeteSlides" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>