---
import "../styles/footer.css";
import "../styles/header.css";
import ImagenFooter from "./ImagenFooter.astro";
import TituloFooter from "./TituloFooter.astro";
import LineaFooter from "./LineaFooter.astro";
import ImagemDisplay from "./ImagemDisplay.astro";
import Icons from "./Icons.astro";

const imagen = {
  caminho: "/banner/Logo fundo azul.png",
  alter: "logo araguaney fondo azul",
};

const imagen2 = {
  caminho: "/banner/nome-footer.png",
  alter: "araguaney nome",
};
``;

const icon = {
  caminho: "/icons/rrss (1).png",
  alter: "GitHub",
  rrss: "https://github.com/sabuat",
};

const icon1 = {
  caminho: "/icons/rrss (2).png",
  alter: "Discord",
  rrss: "https://discord.com/channels/1153169650104934430/1153169655536549951",
};

const icon2 = {
  caminho: "/icons/rrss (3).png",
  alter: "LinkedIn",
  rrss: "https://www.linkedin.com/company/araguaney-ead",
};

const icon3 = {
  caminho: "/icons/rrss (4).png",
  alter: "Instagram",
  rrss: "",
};

const List1 = "Cursos Online";
const List2 = "Sobre";
---

<div class="container-fluid bg-footer d-flex display-text">
  <footer class="pt-1">
    <div class="row">
      <img class="titulo-dsp-2" src="/banner/linea.png" alt="" />
    </div>
    <div class="row">
      <a class="col-12 p-5 img-dsp text-center" href="/">
        <ImagemDisplay caminho={imagen2.caminho} alter={imagen2.alter} />
      </a>
      <div class="row titulo-dsp">
        <div class="col-4"></div>
        <div class="col-6">
          <TituloFooter Titulo={List1} />
        </div>
        <div class="col-2">
          <TituloFooter Titulo={List2} />
        </div>
      </div>
      <div class="row">
        <a class="col-lg-4 ps-3 titulo-dsp-2 text-center" href="/">
          <ImagenFooter caminho={imagen.caminho} alter={imagen.alter} />
        </a>
        <div class="col-lg-2 titulo-dsp-2">
          <LineaFooter linea="Introdução à programação" />
          <LineaFooter linea="Git e GitHub" />
          <LineaFooter linea="Algoritmos" />
          <LineaFooter linea="Entornos de desenvolvimento (IDE)" />
          <LineaFooter linea="HTML5" />
          <LineaFooter linea="CCS3" />
          <LineaFooter linea="JS Básico" />
          <LineaFooter linea="JS Avanzado" />
        </div>
        <div class="col-lg-2 titulo-dsp-2">
          <LineaFooter linea="Java Básico" />
          <LineaFooter linea="Jáva Avanzado" />
          <LineaFooter linea="JS serverless" />
          <LineaFooter linea="React" />
          <LineaFooter linea="Angular" />
          <LineaFooter linea="Astro" />
          <LineaFooter linea="ExpressJS" />
          <LineaFooter linea="Python Básico" />
          <LineaFooter linea="Python Avanzado" />
        </div>
        <div class="col-lg-2 titulo-dsp-2">
          <LineaFooter linea="Flask" />
          <LineaFooter linea="Django" />
          <LineaFooter linea="SQL Básico" />
          <LineaFooter linea="SQL Intermediario" />
          <LineaFooter linea="SQL Avanzado" />
          <LineaFooter linea="Estatística para DataScience" />
          <LineaFooter linea="Visualização de Dados" />
          <LineaFooter linea="Introdução ao Machine Learning" />
        </div>
        <div class="col-12 col-lg-2 display-line">
          <LineaFooter linea="Escola" caminho="/about" />
          <LineaFooter linea="Cursos" caminho="/cursos" />
          <LineaFooter linea="Eventos" caminho="/cursos" />
          <LineaFooter linea="Blog" caminho="/blog" />
        </div>
      </div>
    </div>
    <div class="row pb-2 none">
      <div class="col-12 col-lg-6 ps-5 titulo-dsp-2">
        <div class="linea-footer">© 2023 Araguaney Escola Digiltal LTDA </div>
        <div class="row">
          <a class="col-3 linea-footer">Termos de uso</a>
          <a class="col-9 linea-footer">Políticas de Privacidade</a>
        </div>
        <div class="linea-footer">Todos os direitos reservados</div>
      </div>
      <div class="col-12 col-lg-6 d-flex">
        <div class="col-4 col-lg-3"></div>
        <div class="col-lg-1"><Icons caminho={icon.caminho}
          alter={icon.alter} rrss={icon.rrss}/></div>
        <div class="col-lg-1"><Icons caminho={icon1.caminho}
          alter={icon1.alter} rrss={icon1.rrss}/></div>
        <div class="col-lg-1"><Icons caminho={icon2.caminho}
          alter={icon2.alter} rrss={icon2.rrss}/></div>
        <div class="col-lg-1"><Icons caminho={icon3.caminho}
          alter={icon3.alter} rrss={icon3.rrss}/></div>
        <div class="col-4 col-lg-1"></div>
      </div>
  </footer>
</div>
