<!-- ---
import ImagenBanner from "./ImagenBanner.astro";

const link_1 = {
  name: "Inicio",
  caminho: "/",
};
const link_2 = {
  name: "Sobre",
  caminho: "/about",
};
const link_3 = {
  name: "Cursos",
  caminho: "/cursos",
};
const link_4 = {
  name: "Contato",
  caminho: "/contact",
};
const link_5 = {
  name: "Blog",
  caminho: "/blog",
};

const imagen = {
  caminho: "src/images/logo-banner.jpg",
  alter: "logo araguaney",
  }
---

<nav class="navbar bg-menu">
    <div class="container-fluid">
      <ImagenBanner 
        caminho={imagen.caminho}
        alter={imagen.alter}/>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href={link_2.caminho}>{link_2.name}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href={link_3.caminho}>{link_3.name}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href={link_4.caminho}>{link_4.name}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href={link_5.caminho}>{link_5.name}</a>
            </li>
        </div>
      </div>
    </div>
  </nav> -->