---
import Link from "./Link.astro";
import ImagenBanner from "./ImagenBanner.astro";
import MenuCollapse from "./MenuCollapse.astro";

const link_1 = {
  name: "Inicio",
  caminho: "/",
};
const link_2 = {
  name: "Sobre",
  caminho: "/about",
};
const link_3 = {
  name: "Cursos",
  caminho: "/cursos",
};
const link_4 = {
  name: "Contato",
  caminho: "/contact",
};
const link_5 = {
  name: "Blog",
  caminho: "/blog",
};

const imagen = {
  caminho: "src/images/logo-banner.jpg",
  alter: "logo araguaney",
  }

  const imagen2 = {
  caminho: "src/images/nome-banner.png",
  alter: "logo araguaney",
  }
---
<MenuCollapse/>
<div class="container-fluid bg-menu">
    <div class="row">
        <div class="col-12 col-md-6 d-flex align-self-center">
            <a href={link_1.caminho}>
                <ImagenBanner 
                    caminho={imagen.caminho}
                    alter={imagen.alter}
                />
                <ImagenBanner 
                    caminho={imagen2.caminho}
                    alter={imagen2.alter}
                />
            </a> 
        </div>
        <div class="col-12 col-md-6 d-flex align-self-center justify-content-end">
            <Link vinc={link_1.name} ref={link_1.caminho} />
            <Link vinc={link_2.name} ref={link_2.caminho} />
            <Link vinc={link_3.name} ref={link_3.caminho} />
            <Link vinc={link_4.name} ref={link_4.caminho} />
            <Link vinc={link_5.name} ref={link_5.caminho} />
        </div>
    </div>
</div>